{% extends "bootstrap/base.html" %}


{% block title %}
Feedback
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/UIDesign_Feedback.css')}}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='feedback.js')}}"></script>

{% endblock %}

{% block content %}


<div>
    <div id="myBar" style="width:0%;background-color: #1034A6;height: 5px"></div>

    <section class="extra">
        <div class="fixed extra1">
            <label style="font-family: 'Comfortaa', cursive;font-size: 5.5vh;color: #1034A6">Thank You for choosing Raj Group</label>
            <br>
            <label style="margin: 4vh 0">Your feedback will help us improvise our Customer Experience <br> and serve you better!!</label>
            <br>
            <button class="subbtn zer" type="submit" name="Start">Start</button>

        </div>
        <img class="smile" src="{{url_for('static', filename='smile.png')}}">
    </section>

    <section class="section zero">
        <div class="fixed">
            <label>1-> How likely is it that you would recommend our company to a friend <br> &nbsp;&nbsp;&nbsp;&nbsp;
                or colleague ?</label>
            <div style="display: flex;flex-direction: row">
                <a class='box first'>1</a>
                <a class='box first'>2</a>
                <a class='box first'>3</a>
                <a class='box first'>4</a>
                <a class='box first'>5</a>
                <a class='box first'>6</a>
                <a class='box first'>7</a>
                <a class='box first'>8</a>
                <a class='box first'>9</a>
                <a class='box first'>10</a>
            </div>
        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section one">

        <div class="fixed">
            <label>2-> Did we execute the work/job to your satisfaction?</label>
            <div style="display: flex;flex-direction: row">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class='box second'>1</a>
                <a class='box second'>2</a>
                <a class='box second'>3</a>
                <a class='box second'>4</a>
                <a class='box second'>5</a>
                <a class='box second'>6</a>
                <a class='box second'>7</a>
                <a class='box second'>8</a>
                <a class='box second'>9</a>
                <a class='box second'>10</a>
            </div>
        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section two">
        <div class="fixed">
            <label>3->Please rate technical skiils of our team.</label>
            <div style="display: flex;flex-direction: row">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class='box third'>1</a>
                <a class='box third'>2</a>
                <a class='box third'>3</a>
                <a class='box third'>4</a>
                <a class='box third'>5</a>
                <a class='box third'>6</a>
                <a class='box third'>7</a>
                <a class='box third'>8</a>
                <a class='box third'>9</a>
                <a class='box third'>10</a>
            </div>
        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section three">
        <div class="fixed">
            <label>4->Please rate behavioral skiils of our team.</label>
            <div style="display: flex;flex-direction: row;left: auto;right: auto">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a class='box fourth'>1</a>
                <a class='box fourth'>2</a>
                <a class='box fourth'>3</a>
                <a class='box fourth'>4</a>
                <a class='box fourth'>5</a>
                <a class='box fourth'>6</a>
                <a class='box fourth'>7</a>
                <a class='box fourth'>8</a>
                <a class='box fourth'>9</a>
                <a class='box fourth'>10</a>
            </div>

        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section four">
        <div class="fixed2">
            <label>5-> Which service of ours you may require in future ?</label>

            <div class="futser">


                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/BBT.jpeg')}}">
                    <label class="container">BBT
                        <input type="checkbox" onclick="checkBoxClickHandler()">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/Civil.jpeg')}}">
                    <label class="container">Civil
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/ITC.jpeg')}}">
                    <label class="container">ITC
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/Liaison.jpg')}}">
                    <label class="container">Liaison
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/Maintenance.jpeg')}}">
                    <label class="container">Maintenance
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/Retrofitting.JPG')}}">
                    <label class="container">Retrofitting
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/SITC.jpeg')}}">
                    <label class="container">SITC
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/Turnkey.jpg')}}">
                    <label class="container">Turnkey
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>

                    <img class="fif" src="{{url_for('static', filename='Future_Service/Solar.jpg')}}">
                    <label class="container">Solar
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/Supply.jpeg')}}">
                    <label class="container">Supply
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/Testing.jpeg')}}">
                    <label class="container">Testing
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div>
                    <img class="fif" src="{{url_for('static', filename='Future_Service/66KV Switchyard.jpeg')}}">
                    <label class="container">66KV Switchyard
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

            <button class="fifth">Submit</button>
        </div>
    </section>
    <section class="section five">
        <div class="fixed">
            <label>6-> Do you think job could have been completed in lesser time ?</label>
            <div style="display: flex;flex-direction: row">
                &nbsp;&nbsp;&nbsp;&nbsp;

                <a class='box sixth'>YES</a>
                <a class='box sixth'>NO</a>
            </div>

        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>
    <section class="section six">
        <div class="fixed">
            <label>7->Where can we improve our company or any other suggestion ?</label>
            <div style="display: flex;flex-direction: row">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <textarea class="textbox" placeholder="Type here"></textarea>

            </div>
            <form action="" method="post">
                <button class="subbtn seventh">Submit</button>
            </form>
        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">

    </section>
    <section class="section extra2 seven">
        <div class="extra3">
            <label style="font-family: 'Comfortaa', cursive;font-size: 5.5vh;color: #1034A6">Thank You for your kind
                feedback</label>


        </div>
        <img class="smile1" src="{{url_for('static', filename='smile.png')}}">

    </section>

</div>

{% endblock %}