{% extends "bootstrap/base.html" %}


{% block title %}
Feedback
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/UIDesign_Feedback.css')}}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='feedback.js')}}"></script>

{% endblock %}

{% block content %}


<div>
    <div id="myBar" style="width:0%;background-color: #1034A6;height: 5px"></div>

    <section class="extra">
        <div class="fixed extra1">
            <label class="weltex">Thank You for choosing Raj Group</label>
            <br>
            <label style="margin: 4vh 0">Your feedback will help us improvise our Customer Experience and serve you
                better!!</label>
            <br>
            <button class="subbtn zer" type="submit" name="Start">Start</button>

        </div>
        <img class="smile" src="{{url_for('static', filename='smile.png')}}">
    </section>

    <section class="section zero">
        <div class="fixed">
            <label>How likely is it that you would recommend our company to a friend <br> &nbsp;&nbsp;&nbsp;&nbsp;
                or a colleague ?</label>

            <div class="rate">
                <a class='box first'>1</a>
                <a class='box first'>2</a>
                <a class='box first'>3</a>
                <a class='box first'>4</a>
                <a class='box first'>5</a>
                <a class='box first'>6</a>
                <a class='box first'>7</a>
                <a class='box first'>8</a>
                <a class='box first'>9</a>
                <a class='box first'>10</a>
                <img class="emojiclass" src="{{url_for('static', filename='sad.png')}}">
                <img class="emojiclass1" src="{{url_for('static', filename='happy.png')}}">

            </div>

        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section one">

        <div class="fixed">
            <label>Did we execute the work/job to your satisfaction?</label>
            <div class="rate">
                <a class='box second'>1</a>
                <a class='box second'>2</a>
                <a class='box second'>3</a>
                <a class='box second'>4</a>
                <a class='box second'>5</a>
                <a class='box second'>6</a>
                <a class='box second'>7</a>
                <a class='box second'>8</a>
                <a class='box second'>9</a>
                <a class='box second'>10</a>
                <img class="emojiclass" src="{{url_for('static', filename='sad.png')}}">
                <img class="emojiclass1" src="{{url_for('static', filename='happy.png')}}">
            </div>
        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section two">
        <div class="fixed">
            <label>Please rate technical skills of our team.</label>
            <div class="rate">
                <a class='box third'>1</a>
                <a class='box third'>2</a>
                <a class='box third'>3</a>
                <a class='box third'>4</a>
                <a class='box third'>5</a>
                <a class='box third'>6</a>
                <a class='box third'>7</a>
                <a class='box third'>8</a>
                <a class='box third'>9</a>
                <a class='box third'>10</a>
                <img class="emojiclass" src="{{url_for('static', filename='sad.png')}}">
                <img class="emojiclass1" src="{{url_for('static', filename='happy.png')}}">
            </div>
        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section three">
        <div class="fixed">
            <label>Please rate behavioral skills of our team.</label>
            <div class="rate">
                <a class='box fourth'>1</a>
                <a class='box fourth'>2</a>
                <a class='box fourth'>3</a>
                <a class='box fourth'>4</a>
                <a class='box fourth'>5</a>
                <a class='box fourth'>6</a>
                <a class='box fourth'>7</a>
                <a class='box fourth'>8</a>
                <a class='box fourth'>9</a>
                <a class='box fourth'>10</a>
                <img class="emojiclass" src="{{url_for('static', filename='sad.png')}}">
                <img class="emojiclass1" src="{{url_for('static', filename='happy.png')}}">

            </div>

        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>

    <section class="section four">
        <div class="fixed2">
            <label>Which of our other services you may require in future?</label>

            <form id="formsimser" name="service" method="POST" action="">

                <div class="futser">

                    <div>
                        <label class="container">
                            <img class="fif"
                                 src="{{url_for('static', filename='Future_Service/66KV Switchyard.jpeg')}}">
                            Switchyard
                            <input type="checkbox" name='futureser' value='66KV Switchyard'>
                            <span class="checkmark"></span>
                        </label>
                    </div>


                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/BBT.jpeg')}}">
                            BBT
                            <input type="checkbox" name='futureser' value='BBT' onclick="checkBoxClickHandler()">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Solar.jpg')}}">
                            Solar
                            <input type="checkbox" name='futureser' value='Solar'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Turnkey.jpg')}}">
                            Turnkey
                            <input type="checkbox" name='futureser' value='Turnkey'>
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Civil.jpeg')}}">
                            Civil
                            <input type="checkbox" name='futureser' value='Civil'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/SITC.jpeg')}}">
                            SITC
                            <input type="checkbox" name='futureser' value='SITC'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>

                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Testing.jpeg')}}">
                            Testing
                            <input type="checkbox" name='futureser' value='Testing'>
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Liaison.jpg')}}">
                            Liaising
                            <input type="checkbox" name='futureser' value='Liaison'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Retrofitting.JPG')}}">
                            Retrofitting
                            <input type="checkbox" name='futureser' value='Retrofitting'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Maintenance.jpeg')}}">
                            Maintenance
                            <input type="checkbox" name='futureser' value='Maintenance'>
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div>
                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/ITC.jpeg')}}">
                            ITC
                            <input type="checkbox" name='futureser' value='ITC'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>

                        <label class="container">
                            <img class="fif" src="{{url_for('static', filename='Future_Service/Supply.jpeg')}}">
                            Supply
                            <input type="checkbox" name='futureser' value='Supply'>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <input type="button" class="fifth" value="Submit"/>

            </form>
            <!--            <button class="fifth">Submit</button>-->
        </div>
    </section>
    <section class="section five">
        <div class="fixed">
            <label>Do you think job could have been completed in lesser time ?</label>
            <div style="display: flex;flex-direction: row">
                &nbsp;&nbsp;&nbsp;&nbsp;

                <a class='box sixth'>YES</a>
                <a class='box sixth'>NO</a>
            </div>

        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">
    </section>
    <section class="section six">
        <div class="fixed">
            <label>Where can we improve our company or any other suggestion ?</label>
            <div style="display: flex;flex-direction: row">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <textarea id='suggestion' class="textbox" placeholder="Type here"></textarea>

            </div>

            <button class="subbtn seventh">Submit</button>

        </div>
        <img class="star" src="{{url_for('static', filename='star.png')}}">

    </section>
    <section class="section extra2 seven">
        <div class="extra3">
            <label>Thank You for your kind
                feedback</label>


        </div>
        <img class="smile1" src="{{url_for('static', filename='smile.png')}}">

    </section>

</div>

{% endblock %}